form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{  
    width: 20vw;
    margin-top: 2vh;
}
textarea{
    height: 20vw;
    margin-top: 2vh;
    width: 20vw;
}
.item3{
    border: none;
    height: 3vh;
    width: 6vw;
    background-color: grey;
    text-align: center;
}
.recados{
    width: 50vw;
    background-color: grey;
    margin-top: 2rem;
}
#excluirTudo{
    display: grid;
    width: 12vw;
    height: 3vh;
    background-color: grey;
    text-align: center;
}

.areaMensagem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}